/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
}

app-root {
  display: block;
  height: 100%;
}

:root {
    --primary-color: #433bb6;
    --primary-hover: #4338ca;
    --error-color: #ef4444;
    --text-color: #1f2937;
    --text-light: #6b7280;
    --background-color: #f9fafb;
    --card-background: #ffffff;
    --border-color: #e5e7eb;
    --focus-ring: rgba(79, 70, 229, 0.2);
    --input-background: #f9fafb;
    --shadow-sm: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    --shadow-md: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  }